<table class="table table-striped">
    <tr valign='top'>
        <td width="30px">
            <a href=" # ">
                <img style="border-radius: 50%;width: 60px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png">
            </a>
        </td>
        <td>
            <span ># {{ quote.id }} </span>
            <span>
                
                <a href="#">
                    <!-- <span > {{ quote.author.username }} </span>   -->
                </a>
            </span>
            said {{ quote.timestamp }}:
            <br>
            <div>
                {{ quote.content }}
            </div>
            <div>
                <textarea name="" id="" cols="30" rows="3" placeholder="comment"></textarea>
                <button type="submit"> submit</button>
            </div>
        </td>
        
    </tr>    
</table>



