{% extends 'bootstrap/base.html' %}

<!-- Link all style files here -->
{% block head %}
    {{  super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
    
<!-- The title of our application is defined here -->
{% block title %}
    {% if title %}
        {{ title }} - Blog Share
    {% else %}
    <h1 align="center">Welcome to Blog Share</h1>
    <img src="{{ url_for('static', filename='images/blog.jpg') }}" alt="">
    {% endif %}
{% endblock %}
    
<!-- This is the navbar -->
{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('login')}}"> Quote </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href=" {{ url_for('login')}} ">Login</a></li>
                </ul>                       
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href=" {{ url_for('register')}} ">Register</a></li>
                </ul>                       
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"> Random Quotes</a></li>
                </ul>                       
            </div>
        </div>
    </nav>
{% endblock %}

  
<!-- Contents of all our pages will go here -->
{% block content %}
    <div class="container">
        {% block app_context %}{% endblock %}
    </div>
{% endblock %}
    
<!-- All scripts will go here -->
{% block scripts %}
<script>
    const quote =document.querySelector("#quote");
    const author =document.querySelector("#author");
    const btnq =document.querySelector("#btnq");
    btnq.addEventListener("click",getQuote);
    function getQuote(){
      fetch("http://quotes.stormconsultancy.co.uk/random.json").then(res =>(res.json()))
      .then(data =>{
        quote.innerHTML = `"${data.quote}"`;
        author.innerHTML= data.author;
      })
    }
  </script>
        
{% endblock %}
